<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>Templates</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h2>Список шаблонов</h2>

<form method="POST" enctype="multipart/form-data" action="/list">
    <table border="1px" cellpadding="5px">
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Ссылка</th>

        </tr>

        <tr th:each="file : ${files}">
            <td th:text="${file.id}">Id</td>
            <td th:text="${file.name}">Название</td>
            <td><input type="submit" value="Заполнить"></td>
        </tr>
    </table>
</form>

</body>
</html>